body, h2{

    margin: 0;
    padding: 0;
    color: rgb(252, 252, 252);
    font-size: 1rem;
    text-align: center;
    background-size: 97rem;
    background-position: center;
    background-color: white;
    
}

header{
    padding: 30px 0;
    background-color: #000;
}

ul {

    margin: 0;
    padding: 0;
    color: rgb(252, 252, 252);
    font-size: 2rem;
    text-align: center;
    background-size: cover;
    list-style: none;
    text-decoration: none;
    color: #000;

}

.cabecalho{
   width: 80%;
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-right: 110px;
   margin-left: 30px
}


.titulo {
   font-size: 24px;
   font-weight: bold; 
}

nav ul {
   list-style: none;
   padding: 70px;
   font-size: 90px;
   
}

nav li {
   margin-left: 90px;
   list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 60px;
    list-style: none;
    color: white;
    border: white;
    border-radius: 15px;
    border-width: 15px;
    transition: all 0.5s ease-in-out;
}

nav ul li a:hover{
    box-shadow: 0 0 0 4px;
    background-color: white;
    transition: 1.5s all;
    color:black;
    
}

p {
    font-family: 'Georgia', serif;
    font-size: 2rem;
    padding: 20px;
    text-align: center;
    
}

body {
  
    background-color: rgb(153, 153, 153);;
}
img{
    transition: all 0.5s ease-out;
}
img:hover{
    transform: scale(0.7);
    box-shadow: 0 0 10px rgba (0,0,0, 0.5)
}